<configuration>
  <appSettings>
    <add key="ida:ClientId" value="4629b4b4-7b5f-4fe1-8fd4-622b1fb19f16" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Domain" value="fdpo.onmicrosoft.com" />
    <add key="ida:TenantId" value="16b3c013-d300-468d-ac64-7eda0820b6d3" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44396/signin-oidc" />
  </appSettings>
